<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{% url 'authentication:login' %}" method="post">
        {% csrf_token %}
        Username<input type="text" name="username" autocomplete="none" ><br>
        Password<input type="password" name="password" autocomplete="none">
        <input type="submit" value="Login">
    </form>
    {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    {% endif %}
</body>
</html>