{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'authentication:login' %}" method="post">
        {% csrf_token %}
        <h1>Login</h1>
        <input type="text" name="username" autocomplete="off" placeholder="Username"><br>
        <input type="password" name="password" autocomplete="off" placeholder="Password">
        <input type="submit" value="Login" id="button">
        <p>Aren't a member?<a href="{% url 'authentication:register_user' %}">Register</a></p>
        <p>
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    {% endif %}
        </p>
    </form>
</body>
</html>